
html {
    box-sizing: border-box; /* Doesent affect witdh when using padding */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ffffff;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: #ff2424;
    color: white;
    padding: 9.6px 20.8px;
    text-decoration: none;
    border: 0px;
}

.sub-btn {
    background: #777777;
    color: white;
    padding: 9.6px 20.8px;
    text-decoration: none;
    border: 0px;
}

img {
    max-width: 100%;
}

/* Grid Setup */
.grid-layout {
    display: grid;
    grid-gap: 20px;
}

/* Nav */
.navbar ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr); /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex_value#fr */
}

.navbar a {
    background: #ffffff;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color:  #4b4b4b;
    text-transform: uppercase;
    font-size: 24px;
    
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.top-container {
    display: grid;
    grid-gap: 20px;
    /* Template format, i didnt know this existed till now. */
    grid-template-areas:
    'showcase showcase showcase'
    'showcase showcase showcase';
}

.mid-container {
    display: grid;
    grid-gap: 20px;
    /* Template format, i didnt know this existed till now. */
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-a';
}

/* Assign Grid Content */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    max-width: 100%;
    background: url(../img/Another-Welcome-img.jpg);
    background-size: cover;
    background-position: center;
    padding: 48px;
    /* Flex box */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.showcase h1 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #ffffff;
}
.showcase p {
    font-size: 21px;
    margin-top: 0px;
    color: #ffffff;
}

 /* Mid Box */
 .product-listing {
    grid-area: showcase;
    height: 400px;
    max-width: 100%;
    background: url(../img/human_lost_hero_background.jpg);
    background-size: cover;
    background-position: center;
    padding: 48px;
    /* Flex box */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.product-listing h1 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #ffffff;
}
.product-listing p {
    font-size: 21px;
    margin-top: 0px;
    color: #ffffff;
}


.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  /* Learnt something new */  
}

.box h2 {
    font-size: 40px;
}

.box {
    background: #ffffff;
    text-align: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Product Anime Listings */
.box-listings {
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas:
    'listing-01 listing-02 listing-03'
    'listing-04 listing-05 listing-06';
}

.box-listings h2 {
    font-size: 40px;
}

.listing-01 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/human-lost.png);
    background-size: cover; 
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-01 .btn {
    background: #24d8cf;
    color: white;
}
.listing-01 .btn:hover {
    background: #178d87;
    color: white;
}

.listing-02 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/darling-in-the-franxx.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-02 .btn {
    background: #e6846c ;
    color: white;
}
.listing-02 .btn:hover {
    background: #aa6250 ;
    color: white;
}

.listing-03 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/seraph-of-the-end.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-03 .btn {
    background: #20dd1a ;
    color: white;
}
.listing-03  .btn:hover {
    background: #149410 ;
    color: white;
}

.listing-04 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/guilty-crown.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-04 .btn {
    background: #388ae7 ;
    color: white;
}
.listing-04 .btn:hover {
    background: #20548f;
    color: white;
}

.listing-05 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/rising-of-the-shield-hero.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-05 .btn {
    background: #20dd1a ;
    color: white;
}
.listing-05 .btn:hover {
    background: #149410 ;
    color: white;
}

.listing-06 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/overlord.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-06 .btn {
    background: #c0351d ;
    color: white;
}
.listing-06 .btn:hover {
    background: #752011 ;
    color: white;
}
/* Product Anime Listings END */


/* Product Manga Listings */
.listing-07 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/goblin-slayer.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-07 .btn {
    background: #20dd1a ;
    color: white;
}

.listing-08 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/solo-leveling.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-08 .btn {
    background: #20dd1a ;
    color: white;
}

.listing-09 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/lessa-the-crimson-knight.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-09 .btn {
    background: #20dd1a ;
    color: white;
}

.listing-10 {
    background: #ffffff;
    color: white;
    text-align: center;
    background: url(../img/virus-girlfriend.png);
    background-size: cover;
    background-position: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.listing-10 .btn {
    background: #20dd1a ;
    color: white;
}
/* Product Manga Listings END */

.featured {
    font-size: 24px;
    text-align: center;
}

footer {
    margin-top: 32px;
    background: #4b4b4b;
    color: white;
    padding: 16px;
}

.view-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Media Queries */
@media(max-width: 700px) {
    .main-nav ul {
        grid-template-columns: 1fr; /* Puts them in one row each after the screen shrinks */
    }
    .box h2 {
        font-size: 25px;
        font-weight: bolder;
    }
}
